script(src='https://code.jquery.com/jquery-3.4.1.min.js')

script(src='/javascripts/script.js')
script(src='/javascripts/emailer.js')
script(src='/javascripts/goToTop.js')
script(src='/javascripts/scrollax_plus.js')

script(src='https://polyfill.io/v3/polyfill.min.js?features=default')
script(src='/javascripts/emailer.js')
script(src='/javascripts/modalImage.js')
script(src='/javascripts/bookings.js')

script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')

script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')

script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC66A0VXpL9fOQ0SC2iVBsajG5TkJLLhEg&callback=initMap&v=weekly' defer)